@model EventApplication.Models.ViewModels.OrderSummaryViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Order", "AddOrder", FormMethod.Post))
{

    <div>
        <p>Sale ends on @Html.DisplayTextFor(model => model.@event.StartDate)</p>
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayTextFor(model => model.@event.Title)<br />
                FREE
            </div>
            <div class="col-md-2" id="tickets">
                Number of Tickets<br />

                @{
                    var selectList = new SelectList(
                        new List<SelectListItem>
                        {
                                 new SelectListItem {Text = "1", Value = "1"},
                                 new SelectListItem {Text = "2", Value = "2"},
                                 new SelectListItem {Text = "3", Value = "3"},
                                 new SelectListItem {Text = "4", Value = "4"},
                                 new SelectListItem {Text = "5", Value = "5"},
                                 new SelectListItem {Text = "6", Value = "6"},
                                 new SelectListItem {Text = "7", Value = "7"},
                                 new SelectListItem {Text = "8", Value = "8"},
                                 new SelectListItem {Text = "9", Value = "9"},
                                 new SelectListItem {Text = "10", Value = "10"},
                        }, "Value", "Text", Model.SelectedOrderTicketQuantity);
                }

                @Html.DropDownListFor(m => m.SelectedOrderTicketQuantity, selectList, "", new { @class = "css-class" })

            </div>
        </div>
        <div>
            @if (Request.IsAuthenticated)
            {
                <p class="button">
                    @Html.ActionLink("Checkout", "AddOrder",
                      "Order",
                      new { id = Model.EventId, quantity = selectList.SelectedValue },
                      new { id = "addOrder" })
                </p>
                <p>
                    <input id="Submit1" type="submit" value="Checkout Submit" />
                </p>
            }
            else
            {

            }
        </div>
    </div>
}
@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}