
@{
    ViewBag.Title = "FindAnEvent";
}

<h2>FindAnEvent</h2>

@Html.Partial("~/Views/Home/_SearchEvents.cshtml")

@section Scripts
{
    <script src="~/Scripts/Apps/EventScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}